<h1>Users#update_profile</h1>

<div id='profile_view'>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Street: <%= @user.street %></p>
<p>City: <%= @user.city %> State: <%= @user.state %> Zip:<%= @user.zip %></p>
<p>Username:<%= @user.username %></p>
<p>Password:<%= @user.password %></p>
</div>
