<h1><%= @user.first_name %>'s Profile</h1>

<div id='profile_view'>
  <span class='profile_item'>First Name: <%= @user.first_name %></span>
  <span class='profile_item'>Last Name: <%= @user.last_name %></span>
  <span class='profile_item'>Street: <%= @user.street %></span>
  <span class='profile_item'><span id='profile_city'>City:<%= @user.city %></span><span id='profile_state'> State:<%= @user.state %> </span><span id='profile_zip'>Zip:<%= @user.zip %></span></span>
  <span class='profile_item'>Username: <%= @user.username %></span>
  <span class='profile_item'>Password: <%= @user.password %></span>
</div>
